<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <!-- dependency bean -->
    <bean id="D2bean" class="com.DependencyInjection.Draw2d">
    </bean>
    <bean id="D3bean" class="com.DependencyInjection.Draw3d">
    </bean>

    <!-- constructor injection  -->
    <bean id="circle" class="com.DependencyInjection.Circle">
        <constructor-arg ref="D2bean"/>
    </bean>
    <!-- setter injection -->
    <bean id="square" class="com.DependencyInjection.Square">
        <property name="d2d" ref="D2bean"/>
    </bean>

</beans>





