<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <!--  enable -->
    <!-- dependency bean -->
    <bean id="d2bean" class="com.BeanScope.draw2d">
    </bean>
    <bean id="d3bean" class="com.BeanScope.draw3d">
    </bean>

    <!-- constructor injection  -->
    <bean id="circle" class="com.BeanScope.Circle" scope="singleton">
        <constructor-arg ref="d2bean"/>
    </bean>
    <!-- setter injection -->
    <bean id="square" class="com.BeanScope.Square" scope="prototype">
        <property name="d2d" ref="d2bean"/>
    </bean>


    <bean id="init-destroy" class="com.BeanScope.DatabaseOperations" init-method="connectToDatabase"
          destroy-method="disconnectFromDatabase">

    </bean>

</beans>





